$primary-color: #1A579F;
$secondary-color: #C0924D;
$font1: 'Montserrat';
$font2: 'Varela';
/* Hero */
.hero{
  background-color: $primary-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 0px 200px 0px 200px;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: 1.0;
}

.heading{
  font-size: 3em;
  font-family: $font1;
}

.sub-heading{
  font-size: 1.5em;
  font-family: $font2;
}

.primary-btn{
  background-color: $secondary-color;
  font-size: 1.5em;
  color: #fff;
  padding: 10px 15px 10px 15px;
  border-radius: 2px;
  font-family: $font1;
}


/* ********** phone screen *********** */
@media screen and (max-width: 450px) {
  
}