/* Hero */
.hero{
  background-color: #1A579F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 0px 200px 0px 200px;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: 0.80;
  /* background-image: url('./welding-image.jpg'); */
  object-fit: contain;
}

.heading{
  font-size: 3em;
  font-family: 'Montserrat';
}

.sub-heading{
  font-size: 1.5em;
  font-family: 'Varela';
}

.primary-btn{
  background-color: #C0924D;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  padding: 10px 15px 10px 15px;
  border-radius: 2px;
  font-family: 'Montserrat';
}


/* ********** phone screen *********** */
@media screen and (max-width: 450px) {
  .hero{
    padding: 0px 40px 0px 20px;
  }
}